.login-container{
    width: 100%;
    background-image: url('../../Assets/Images/final.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

}
@media only screen and (max-width: 688px) {
    .login-container{
        margin: 0px;
        padding: 0px;
        /* border: 1px solid brown; */
        margin-left: 10px;
    }

}
 @media only screen and (min-width:688px) and (max-width:992px) {
.login-container{
    margin: 0px;
    padding: 20px 0px;
    /* border: 1px solid brown; */
    margin-left: 10px;
}
}